#all_films_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.film_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
