#all_films_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.film_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px 20px 0;
    padding: 20px 20px 30px 20px;
    font-size: 16px;
    color: gray;
    background: #fff;
    position: relative;
}

#all_films_section h1 {
    margin: 30px 0;
}

.film_block .ttl {
    font-size: 18px;
    color: rgb(22, 60, 99);
    font-weight: 600;
}

.id {
    position: absolute;
    color: #b7cfec;
    bottom: 0;
    right: 15px;
    font-size: 10px;
}

.more_info {
    display: block;
    width: 100px;
    margin: 0 auto;
    background: rgb(155, 92, 143);
    color: rgb(245, 240, 240);
    text-align: center;
    padding: 5px 10px;
    border-radius: 0 0 9px 9px;
    font-size: 13px;
}
.more_info:hover {
    color: #fff;
}

.explane {
    /* display: inline-block; */
    margin-top: 20px;
}
