@keyframes showForm {
    0% {
        opacity: 0;
        transform: translateZ(-10);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

#registerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#enter_form {
    animation-name: showForm;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
